<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/PerfmTest/src/com/perf/MemoryLeak.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.perf.MemoryLeak"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="PerfmTest"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:+HeapDumpOnOutOfMemoryError -XX:+PrintGC -XX:+PrintGCDetails -XX:+PrintGCTimeStamps -XX:+UseG1GC -Xloggc:memleak.log  -XX:MaxGCPauseMillis=100  -XX:NumberOfGCLogFiles=10 -XX:-UseGCLogFileRotation -XX:GCLogFileSize=1024K"/>
</launchConfiguration>
